body {
    font-size: 18px;
}

h1 {
    text-align: center;
}

a {
    color: black;
}

a:link {
    text-decoration: none;
}

.navbar2 {
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    font-size: 16px;
    padding: 1em;
    background-color: #E3E3E3;
    border-color: #B2B2B2;
    border-radius: 15px;
}

.lol {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#lol {
    width: 40%;
}

.jeu_video {
    margin-top: 2em;
    text-align: center;
}

#jv {
    background-color: #E3E3E3;
    border-color: #B2B2B2;
    border-style: groove;
    padding: 2em;
}